<!DOCTYPE html>
<html>
	<head>
		<title>QR code Generator</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ url_for('static', filename='content/bootstrap.css') }}"> 
		<link rel="stylesheet" href="{{ url_for('static', filename='content/coupon.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='content/navbar.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='content/panel.css') }}">
        
		<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.1.1.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>
	</head>

	<body>
		<div class="container">
			
				<nav class="navbar navbar-default navbar-fixed-top">
					  <div class="container">
						<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span> 
						</button>
						<a class="navbar-brand" href="index.html">LOGO</a>
    					</div>
				<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
				<li class="active"><a data-toggle="pill" href="#">Home</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">Services 
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Services1</a></li>
							<li><a href="#">Services2</a></li>
							<li><a href="#">Services3</a></li>
						</ul>
				</li>
				<li><a href="#">About us</a></li>
				<li><a href="#">Help</a></li>
				<li class="navbar-right" ><a href="signup.html" class="navbar-link">Sign In</a></li>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
						<button type="submit" class="btn btn-default">Go</button>
				</form>
				
			</ul>
			</div>	
		</div>
				</nav>
		</div>

		<div class="jumbotron">

			<div class="row" style="margin-top: 100px">
				<div class="col-xs-1"></div>
				<div class="col-xs-2"><img src="images/Qr.png" class="img-responsive img-rounded" width="140px" height="261px"></div>
				<br><br>
				<div class="col-xs-4 well">
					<p><span class="glyphicon glyphicon-triangle-right"></span>url</p>
					<form action="#" role="form">
						<div class="input-group">
							<input type="url" class="form-control" placeholder="insert your url here" required>
							<span class="input-group-btn">
								<button class="btn btn-info btn-circle" type="submit" data-toggle="modal" data-target="#myQrcode">Create</button>
							</span> 
							<div id="myQrcode" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
										</div>
										<div class="modal-body">
											<p><img src="images/qr_code.png" class="img-responsive" height="200px" width="200px" ></p>
											where you want this code:<br>
											<button type="button" class="btn btn-success active" data-toggle="collapse" data-target="#myPhone">Mobile</button>
											<div id="myPhone" class="collapse out">
												<div class="panel panel-default">
													<div class="panel-body">
														<div class="form-group">
															<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
														</div>
														<button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Send</button>
													</div>
												</div>
											</div>   
										</div>                       
									</div>
								</div>
							</div>
						</div>
					</form>
				</div> 	

				<!for coupon.....>
				<div class="col-xs-4 well">
					<p><span class="glyphicon glyphicon-triangle-right"></span>Coupons</p>
					<a href="sampleCoupon.html" role="button" class="btn btn-info btn-md">Sample Coupons</a>
					<a href="createCoupon.html" role="button" class="btn btn-info btn-md">Create Coupons</a>
				</div>			
   			 </div>
		</div>
		<div class="col-xs-1"></div>

			<div class="container-fluid">
			<div class="text-center">
				<h2>Our Best Services</h2>
			<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
				<h4>Services 1 </h4>
				</div>
				<div class="item">
				<h4>Services 2 <br></h4>
				</div>
				<div class="item">
				<h4>Services 3 <br></h4>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			</div>


		<div class="container-fluid">
			<div class="text-center">
				<h2>Pricing</h2>
				<h4>Choose a payment plan that works for you</h4>
			</div>
			<div class="row">
				<div class="col-sm-4">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
					<h1>Basic</h1>
					</div>
					<div class="panel-body">
					<p><strong>20</strong> Lorem</p>
					<p><strong>15</strong> Ipsum</p>
					<p><strong>5</strong> Dolor</p>
					<p><strong>2</strong> Sit</p>
					<p><strong>Endless</strong> Amet</p>
					</div>
					<div class="panel-footer">
					<h3>$19</h3>
					<h4>per month</h4>
					<button class="btn btn-lg">Sign Up</button>
					</div>
				</div> 
				</div> 
				<div class="col-sm-4">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
					<h1>Pro</h1>
					</div>
					<div class="panel-body">
					<p><strong>50</strong> Lorem</p>
					<p><strong>25</strong> Ipsum</p>
					<p><strong>10</strong> Dolor</p>
					<p><strong>5</strong> Sit</p>
					<p><strong>Endless</strong> Amet</p>
					</div>
					<div class="panel-footer">
					<h3>$29</h3>
					<h4>per month</h4>
					<button class="btn btn-lg">Sign Up</button>
					</div>
				</div> 
				</div> 
			<div class="col-sm-4">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
					<h1>Premium</h1>
					</div>
					<div class="panel-body">
					<p><strong>100</strong> Lorem</p>
					<p><strong>50</strong> Ipsum</p>
					<p><strong>25</strong> Dolor</p>
					<p><strong>10</strong> Sit</p>
					<p><strong>Endless</strong> Amet</p>
					</div>
					<div class="panel-footer">
					<h3>$49</h3>
					<h4>per month</h4>
					<button class="btn btn-lg">Sign Up</button>
					</div>
				</div> 
				</div> 
			</div>
			</div>



		<div class="container-fluid bg-grey">
			<h2 class="text-center">CONTACT</h2>
			<div class="row">
				<div class="col-sm-5">
				<p>Contact us and we'll get back to you within 24 hours.</p>
				<p><span class="glyphicon glyphicon-map-marker"></span> Pune, India</p>
				<p><span class="glyphicon glyphicon-phone"></span> +91 1234567890</p>
				<p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p> 
				</div>
				<div class="col-sm-7">
					<div class="row">
						<div class="col-sm-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
						</div>
						<div class="col-sm-6 form-group">
							<input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
						</div>
					</div>
					<textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
					<div class="row">
						<div class="col-sm-12 form-group">
							<button class="btn btn-default pull-right" type="submit">Send</button>
						</div>
					</div> 
			  </div>
		</div>
	</div>
		<footer class="container-fluid text-center">
  			<a href="#myPage" title="To Top">
   		 	<span class="glyphicon glyphicon-chevron-up"></span>
 			</a>
 			<p>This site is maintain by <a href="index.html" title="Visit abc">www.abc.com</a></p> 
		</footer>
	</body>
</html>